<div class='messages-container'>
  <a href='#/messages/new'>New Message</a>

  <div class='received-messages'>
    <h2>Received Messages</h2>
    <ul class='received-messages'></ul>
  </div>

  <div class='sent-messages'>
    <h2>Sent Messages</h2>
    <ul class='sent-messages'></ul>
  </div>

</div>
