<% if(OKCupid.CurrentUser.isSignedIn()) { %>

  <p>
    Signed in as:
    <a href="#/profiles/<%= OKCupid.CurrentUser.id %>"><%= OKCupid.CurrentUser.escape("username") %></a> |
    <a href="#" id="sign-out-link">Sign Out</a> |
    <a href='#/profiles/<%= OKCupid.CurrentUser.id %>/edit'>Edit Your Profile</a>
    <a href='#/questions/'>Questions</a>
    <a href='#/messages/'>Messages</a>
    <a href='#/likes/'>Likes</a>
  </p>
<% } %>
