<h2>Almost there! Just a little more to go.</h2>
<nav class='facebook-sign-up'>
  <div>Sign up faster.</div>
  <div>We never post to Facebook.</div>
  <button>Connect</button>
</nav>

<form class='sign-up-more-info-form'>
  <label>
    Username
    <br>
    <input class='username' type="text" name="user[username]" placeholder="This will be public.">
  </label>

  <br><br>

  <label class='group'>
    Birthdate
    <br>
    <input class='birthdate' type='text' name='user[month]' maxlength='2' placeholder='MM'>
    <input class='birthdate' type='text' name='user[day]' maxlength='2' placeholder='DD'>
    <input class='birthdate' type='text' name='user[year]' maxlength='4' placeholder='YYYY'>
  </label>

  <br><br><br>
  <div class='country-zip group'>
    <label>
      Country
      <br>
      <select name='user[country]'>
        <option selected value='United States'>United States</option>
      </select>
    </label>

    <label>
      Zip Code
      <br>
      <input type='text' name='user[zip_code]' maxlength='5' placeholder='e.g. 10001'>
    </label>
  </div>
  <br><br><br><br><br>

  <label>
    Email:
    <br>
    <input class='email' type="text" name="user[email]" placeholder='e.g. example@url.com'><br>
    <input class='email' type='text' name='user[confirmEmail]' placeholder='Confirm email'>
  </label>

  <br><br>

  <label>
    Password
    <br>
    <input class='password' type='password' name="user[password]">
  </label>

  <br><br>

  <button>Done!</button>
</form>
