<nav class="navbar">

  <div class="navbar-brand-container group">
    <a class="navbar-brand-link" href="#">Okcupid Clone</a>
  </div>

  <div class="navbar-right-container">
    <ul class="navbar-right-list group">
      <li>
        <a href='#/profiles/<%= current_user.id %>/edit'>Edit Your Profile</a>
        <a href='#/questions/'>Questions</a>
        <a href='#/messages/'>Messages</a>
        <a href='#/likes/'>Likes</a>
      </li>
    </ul>
  </div>
</nav>

<% if flash[:errors] %>
  <%= flash[:errors].join("<br>").html_safe %>
<% end %>
